/*
 * timeout program
 *
 * Copyright (C) 2024 Myah Caron
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resources.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
{
STRING_USAGE, "Usage: timeout [-t] seconds [-nobreak]\n\n\
Options:\n\
\    -t        Timeout in seconds to wait.\n\
\    -nobreak  Ignore key presses.\n\
\    -?        Display this help message.\n"

STRING_INFWAIT_PRESS_ANY_KEY, "Press any key to continue ..."

STRING_INFWAIT_PRESS_CTRL_C, "Press CTRL+C to quit ..."

STRING_WAITING_FOR_SECONDS, "Waiting for %s seconds, "

STRING_WAIT_PRESS_KEY, "press a key to continue ..."

STRING_WAIT_PRESS_CTRL_C, "press CTRL+C to quit ..."

STRING_TIMEOUT_ONLY_ONCE, "Timeout value cannot be specified more than once.\n"

STRING_INVALID_TIMEOUT, "Invalid timeout: %s\n"

STRING_MISSING_VALUE_FOR_OPTION, "Missing value for option %s\n"

STRING_INVALID_ARGUMENT, "Invalid argument: %s\n"

STRING_TIMEOUT_RANGE, "Timeout value out of range. Valid range is -1 to 99999.\n"

STRING_NO_INPUT_REDIRECTION "Input redirection is not supported.\n"

}
